body{background-color:#fafafa; margin:3rem;}
h1 {text-align:center; color:dodgerblue;}
a {text-decoration: none; color:black;}
ol {list-style-type: none;}

.viewWindow{ margin-left: auto;
    margin-right: auto;
    width: 70%}
.col-md-4{}


.btn-success{padding-top:2%}
.btn-warning{margin-top:2%; padding-left:2%;
    padding-right:2%; font-size:65%;}

.tiny{font-size:x-small; font-weight: 600;}
.taskCard{background-color:white;
    box-shadow: 3px 3px 10px lightgray;
    border-radius: 5px;
    padding: 3% 1% 3% 3%;}

.addCard{border-radius:10px; background-color:white;
    padding-bottom:3%;padding-left:3%;padding-top: 3%;}
.addTopBar{background-color:#fafafa;
    padding-left:3%;
    padding-top:1%;
    padding-bottom:1%;
    border-radius:10px;}
.addInput{width:100%; }
